.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_us {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  flex: 1;
  padding: 20px;
}

.contact_us_image {
  flex: 1;
  padding: 20px;
}

.contact_us_image img {
  width: 100%;
}

.form-group textarea {
  height: 300px; /* Adjust this value as needed */
  resize: vertical; /* Allow vertical resizing */
}