.wrapper {
    width: 420px;
    padding: 13px;
    margin: 0 auto; /* Center the container horizontally */
}

.reset_password_form {
    width: 360px;
    padding: 20px;
    border-radius: 24px;
    overflow: hidden;
    background-color: #fdffe3; /* Same background color as the login form */
    margin: 0 auto; /* Center the form horizontally within the wrapper */
}

.reset_password_form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.reset_password_form p {
    text-align: center;
    margin-bottom: 20px;
}

.reset_password_form label {
    font-weight: bold;
}

.reset_password_form input[type="text"],
.reset_password_form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.reset_password_form input[type="submit"],
.reset_password_form input[type="reset"] {
    width: 35%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: rgb(38, 94, 223);
    cursor: pointer;
    transition: background-color 0.2s;
    margin-bottom: 10px;
}

.reset_password_form input[type="submit"]:hover,
.reset_password_form input[type="reset"]:hover {
    background-color: rgb(255, 152, 0);
}

.reset_password_form .invalid-feedback {
    color: #ff0000;
}

.reset_password_form a {
    color: inherit;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 20px;
    color: blue;
}

.reset_password_form a:hover {
    color: darkblue;
}

.reset_password_form table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.reset_password_form th,
.reset_password_form td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.reset_password_form th {
    background-color: #f2f2f2;
    font-weight: bold;
}


